
*{
	box-sizing:border-box;
	padding: 0;
	margin: 0;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

body{
	background-image: url(/img/fundo.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.container{
	display: flex;
	flex-direction: column;
}

.esquerda{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:flex-end;
	text-align:right;
	width: 100vw;
	height: 70vh;
	background-position: center;
	background-size: cover;

}


.vv{
	position: absolute;
	font-size: 300px;
	color: #fc04045c;
	z-index: -1;

}

.direita{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	padding-right: 200px;
	width: 100vw;
	height: 30vh;
	background-color: #fc0404ce;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.esquerda img{

	max-width: 30%;
	height: auto;
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	margin: 0 auto;

}


h1{

	align-self: flex-end;
	width: 380px;
	font-size: 65px;
	transition: all 1s linear;
}

h1, p{
	margin-right: 220px;
	font-weight: bold;
}

.infos{
	display: flex;
	flex-direction: column;
	gap: 2px;
	text-align: end;
	justify-content: center;
	margin-top: 20px;
}

.corretor{
	font-size: 34px;
	font-weight: 600;
	color: white;
}

.felipe{
	font-size: 35px;
	font-weight: bold;
	color: white;
}

.creci{
	font-size: 32px;
	color: white;
}

.botao{
	background-color: white;
	width: 300px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border-radius: 35px;
	align-self: center;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	font-weight: bold;
	transition: all 0.50s;
	font-size: 20px;
	margin-left: 100px;
}

.botao:hover{
	background-color: #fc0404ce;
	color: white;
	cursor: pointer;
	width: 100%;
}

.imgw{
	min-width: 60px;
	height: 60px;
	margin: 20px;
	position:fixed ;
	bottom: 0;
	right: 0;
	cursor: pointer;
	transition: all 1s;
}

legend{
	text-align: center;
	height: 50px;
	widows: 150px;
	background-color: white;
	line-height: 50px;
}

.leone{
	min-width: 30%;
	padding-top: 30px;
}

.leone1{
	display: none;
}

@media (max-width:760px) {

	.esquerda{
		height: 300px;
	}

	.infos{
		width: 100%;
		height: 120px;
	}

	.direita{
		padding-right: 0px ;
	}

	h1{
		font-size: 35px;
		width: 100%;
		text-align: center;
		margin-right: 0px;
	}
	p{
		width: 100%;
		text-align: center;
		margin-right: 0px;

	}

	.corretor{
		font-size: 24px;
		font-weight: 600;
		color: white;
	}

	.felipe{
		font-size: 25px;
		font-weight: bold;
		color: white;
	}

	.creci{
		font-size: 22px;
		color: white;
	}

	.infos{
		font-size: 25px;
		text-align: center;

		margin-top: 25px;
		margin-bottom: 25px;
	}

	.botao{
		margin: 0px;
	}


	.esquerda img{
		display: none;
		height: auto;
		padding-top: 30px;
		z-index: -10;
	}

	.leone1{
		width: 60%;
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}

	img, .containerimg, .carrossel{
		display: none;
		z-index: -1000000;
	}
		
}	


.carrossel{
	position: absolute;
	overflow: hidden;
	height: 300px;
	width: 300px;
	top: 15%;
	left: 26%;
	border: 4px solid #fc04045c;
	z-index: -1000;
}

.containerimg{
	position: relative;
	display: flex;
	transition: 0.5s ease-in-out;
	transform: translateX(0);
	min-width: 50%;
	opacity: 0.8;
}

.containerimg img{
	object-fit: cover;
	height: 300px;
	min-width: 300px ;
}


